{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <h1 class="col s12 center-align main-logo">Add Event</h1>
  </div>
</div>

<div class="row event-form">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input
          placeholder="Placeholder"
          id="first_name"
          type="text"
          class="validate"
        />
        <label for="first_name">Event Name</label>
      </div>
      <div class="input-field col s6">
        <input id="venue_name" type="text" class="validate" />
        <label for="venue_name">Venue</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="city" type="text" class="validate" />
        <label for="city">City</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="date" type="date" class="validate" />
        <label for="date">Date</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <button class="btn-large event-button" type="submit">
          Add Event <i class="fas fa-plus-square right"></i>
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
