{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col s6">
      <h1 class="center-align main-logo">My Gig Tickets</h1>
      <img
        src="{{ url_for('static', filename='css/images/hero_image.svg') }}"
        alt="an image of an owl listening to music"
        class="center-align col s12 responsive-img"
      />
    </div>

    <div class="hero-section">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        maxime, quod sunt dolores quae quidem, porro tempora ducimus maiores
        unde molestias natus. Autem provident hic quam nulla ipsum sed deserunt.
      </p>
      <a class="btn pink accent-2" href="{{ url_for('add_event') }}"
        >Start Here</a
      >
    </div>
  </div>
</div>

{% endblock %}
