{% extends "base.html" %} {% block content %}
<div class="hero-container">
  <div class="container-left">
    <img
      src="{{ url_for('static', filename='css/images/hero_image.svg') }}"
      alt="an owl listening to music"
      class="hero-image"
    />
  </div>
  <div class="container-right">
    <h1 class="hero-header">My Gig Tickets</h1>
    <p class="hero-p">Never forget an experience.</p>
    <a class="main-button" href="{{ url_for('add_event') }}">Start Here</a>
  </div>
</div>

{% endblock %}
