@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e0e0e0 ;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  main {
    flex: 1 0 auto;
  }

.brand-logo {
    margin-left: 10px;
    text-transform: uppercase;
  }



.main-logo {
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(47, 49, 74);
}

.hero-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 16rem;
  padding-left: 4rem;
}

.event-form {
  max-width: 75vw;
}